<a href="https://colab.research.google.com/github/SubhamMohanty187/PythonPractice/blob/main/PythonPractice2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Exception Handling

It only handles run time issue. For compile time errors it will still throw an error

In [2]:
# try:
#   pritf(Hello')
# except:
#   print('Try Block not working.')

SyntaxError: unterminated string literal (detected at line 2) (<ipython-input-2-64715dfa6462>, line 2)

This is the sequnce of all the exception commands.

In [ ]:
try          # Put the code where you expect the errors.
except       # If try block fails to execute then Except Block will be executed.
else         # If Try block is executed successfully then only Else block wil be executed.
finally      # The code inside finally block will always be executed no matter if try block is working or not.

In [4]:
try:
  prit("Hello")                 # Try Block not working
except:
  print("Inside Except Block")
else:
  print('Inside Else Block')
finally:
  print('Inside Finally BLock')

Inside Except Block
Inside Finally BLock

In [5]:
try:
  print("Hello")                # Try Block working.
except:
  print("Inside Except Block")
else:
  print('Inside Else Block')
finally:
  print('Inside Finally BLock')

Hello
Inside Else Block
Inside Finally BLock

To See what the exception msg is

In [7]:
try:
  f = open('abc.txt')
except Exception as e:
  print("Error:", e)

Error: [Errno 2] No such file or directory: 'abc.txt'

In [9]:
import sqlite3

In [10]:
conn = sqlite3.connect("Subham")

In [24]:
conn.execute('drop table if exists abc')

In [25]:
conn.execute('create table abc(id int, name text, score int)')  # Table_name(datatype column_name) as input to create table command.

In [26]:
conn.execute("insert into abc(id, name, score) values (123, 'Don', 98)")
conn.execute("insert into abc(id, name, score) values (456, 'Bapa', 97)")
conn.execute("insert into abc(id, name, score) values (789, 'Ram', 100)")
conn.execute("insert into abc(id, name, score) values (189, 'Shyam', 80)")

In [30]:
conn.commit()

The output of a SQL database will always be in tuple format where each row of the table in the database will be a tuple.

In [31]:
list(conn.execute('select * from abc'))

[(123, 'Don', 98), (456, 'Bapa', 97), (789, 'Ram', 100), (189, 'Shyam', 80)]

In [32]:
for i in conn.execute('select * from abc'):
  print(i)

(123, 'Don', 98)
(456, 'Bapa', 97)
(789, 'Ram', 100)
(189, 'Shyam', 80)

In [34]:
for i in conn.execute('select * from abc order by score desc'):
  print(i)

(789, 'Ram', 100)
(123, 'Don', 98)
(456, 'Bapa', 97)
(189, 'Shyam', 80)

In [35]:
for i in conn.execute("select * from abc where name = 'Don'"):
  print(i)

(123, 'Don', 98)