<a href="https://colab.research.google.com/github/SubhamMohanty187/PythonPractice/blob/main/PythonPractice1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
bool()

False

In [3]:
my_str = "Subham"

In [5]:
my_str.istitle() # Returns True if first letter of a word is in Capital.

True

In [6]:
print(my_str.isalnum()) #check if all char are numbers
print(my_str.isalpha()) #check if all char in the string are alphabetic
print(my_str.isdigit()) #test if string contains digits
print(my_str.istitle()) #test if string contains title words
print(my_str.isupper()) #test if string contains upper case
print(my_str.islower()) #test if string contains lower case
print(my_str.isspace()) #test if string contains spaces
print(my_str.endswith('k')) #test if string endswith a d
print(my_str.startswith('K')) #test if string startswith H

True
True
False
True
False
False
False
False
False

##Lists
A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements. Each element or value that is inside of a list is called an item. Just as strings are defined as characters between quotes, lists are defined by having values between square brackets [ ]

In [18]:
lst = ['Math','eng', 1, 2, 3]

In [19]:
lst

['Math', 'eng', 1, 2, 3]

In [20]:
lst.append(['a', 'b'])
lst

['Math', 'eng', 1, 2, 3, ['a', 'b']]

In [21]:
lst.extend(['c', 'd'])
lst

['Math', 'eng', 1, 2, 3, ['a', 'b'], 'c', 'd']

In [9]:
l = [1, 2, 3, 4, 5, 6]

In [10]:
len(l)

6

In [11]:
max(l)

6

In [12]:
min(l)

1

In [13]:
l.index(1) # Returns the index of the first occurence of the given element.

0

In [22]:
sum(l)

21

In [23]:
l * 2 # Does not multiply every element by 2, instead appends the list as many times as the number given.

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]

In [24]:
l1 = [1, 1, 1, 2, 2 , 3, 4, 5]

In [25]:
l1.count(1)

3

##SETS
A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements. Python's set class represents the mathematical notion of a set.This is based on a data structure known as a hash table. Denoted by {}.

In [26]:
set1 = {1,2,3,3,3,4,5,5}
set1

{1, 2, 3, 4, 5}

In [27]:
# set1[0] # Sets are not indexable.

TypeError: 'set' object is not subscriptable

In [28]:
set1

{1, 2, 3, 4, 5}

In [29]:
set1.add("Hulk")
set1

{1, 2, 3, 4, 5, 'Hulk'}

In [30]:
set1={"Avengers","IronMan",'Hitman'}
set2={"Avengers","IronMan",'Hitman','Hulk2'}

In [31]:
set2.intersection(set1)
# set2.intersection_update(set1) #Inplace operation

{'Avengers', 'Hitman', 'IronMan'}

In [32]:
set2.difference(set1)

{'Hulk2'}

##Dictionaries
A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values. Indexing is done by keys.

In [42]:
## Let create a dictionary

my_dict={"Car1": "Audi", "Car2":"BMW","Car3":"Mercidies Benz"}
my_dict

{'Car1': 'Audi', 'Car2': 'BMW', 'Car3': 'Mercidies Benz'}

In [34]:
##Access the item values based on keys

my_dict['Car1']

'Audi'

In [38]:
# We can even loop throught the dictionaries keys

for x in my_dict:
    print(x)

# for x in my_dict.keys():  # Alternate Method to print keys of dict()
#   print(x)

Car1
Car2
Car3

In [36]:
# We can even loop throught the dictionaries values

for x in my_dict.values():
    print(x)

Audi
BMW
Mercidies Benz

In [39]:
# We can also check both keys and values
for x in my_dict.items():
    print(x)

('Car1', 'Audi')
('Car2', 'BMW')
('Car3', 'Mercidies Benz')

In [40]:
# Adding a new item in a dict

my_dict['Car4'] = 'Bentley'
my_dict

{'Car1': 'Audi', 'Car2': 'BMW', 'Car3': 'Mercidies Benz', 'Car4': 'Bentley'}

In [43]:
print(my_dict)
my_dict['Car1'] = 'Pagani'  # If we add a new element with an existing key in the dict(), then the old value of that key will be overridden.
my_dict

{'Car1': 'Audi', 'Car2': 'BMW', 'Car3': 'Mercidies Benz'}

{'Car1': 'Pagani', 'Car2': 'BMW', 'Car3': 'Mercidies Benz'}

In [44]:
car1_model={'Mercedes':1960}
car2_model={'Audi':1970}
car3_model={'Ambassador':1980}

car_type={'car1':car1_model,'car2':car2_model,'car3':car3_model}

In [45]:
car_type

{'car1': {'Mercedes': 1960},
 'car2': {'Audi': 1970},
 'car3': {'Ambassador': 1980}}

In [46]:
## Accessing the items in the dictionary

print(car_type['car1'])

{'Mercedes': 1960}

In [49]:
car_type['car2']

{'Audi': 1970}

In [50]:
car_type['car1']['Mercedes']

1960

## Tuples

These are not mutable, once created they can't be modified.Indexing is present. Denoted by ()

In [51]:
my_tuple=("Krish","Ankur","John")

In [52]:
print(type(my_tuple))
print(my_tuple)

<class 'tuple'>
('Krish', 'Ankur', 'John')

In [53]:
## Inbuilt function
my_tuple.count('Krish')

1

In [54]:
my_tuple.index('Ankur')

1